/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

.anchor{
     display: block;
     height: 150px; /*same height as header*/
     margin-top: -150px; /*same height as header*/
     visibility: hidden;
}

h2  {
     border-bottom: 1px solid rgba(0, 0, 0, 1);
     padding-bottom: 1%;
}

a {
     text-decoration: none;
}

/*************************
/* ROOT FONT STYLE
/*************************/

html {
     font-size: 62.5%;
}

body {
     font-size: 1.6rem;
     background-color: rgb(248, 248, 248);
     color: black;
     margin-right: 8%;
}

/*************************
/* FONT COLORS
/*************************/

.color-blue {
     color: blue;
}

.color-lightblue {
     color: rgb(85, 178, 240);
}

.color-green {
     color: green;
}

.color-grey {
     color: rgb(226, 226, 226);
}

.color-lightgreen {
     color:rgb(48, 190, 48);
}

.color-purple {
     color: rgb(145, 6, 163);
}

.color-orange {
     color: orange;
}

.color-dark-orange {
     color: rgb(226, 147, 0);
}

.color-yellow {
     color: yellow;
}

.color-black {
     color: black;
}

.color-white {
     color: white;
}

/*************************
/* MODULE COLORS
/*************************/

.color-mimir {
     color: rgb(0, 148, 86);
}

.color-heimdall {
     color: rgb(145, 6, 163);
}

.color-tyr {
     color: orange;
}

.color-forseti {
     color:mediumslateblue;
}

/*************************
/* BACKGROUNDS
/*************************/

.background-black {
     background-color: black;
     border-radius: 5px;
     color: white;
     padding: 0.5% 1%;
}

.background-black-trans {
     background-color: rgba(0, 0, 0, 0.8);
     border-radius: 5px;
     color: white;
     padding: 0.5% 1%;
}

.background-grey {
     background-color: rgb(61, 61, 61);
     border-radius: 0 5px 5px 0;
     color: white;
     padding: 0.5% 1%;
}

.background-notes {
     background-color: rgb(61, 61, 61);
     color: white;
     padding: 0.5% 1%;
}

.background-green {
     background-color: rgb(22, 187, 0);
     border-radius: 0 5px 5px 0;
     color: white;
     padding: 0.5% 1%;
}

.background-orange {
     background-color: orange;
     border-radius: 0 5px 5px 0;
     color: white;
     padding: 0.5% 1%;
}

/*************************
/* TYPE PROPERTIES
/*************************/

/***************
/* NOTE BLOCKS
/***************/

.notes {
     margin-top: 2%;
     margin-bottom: 2%;
     line-height: 2.5rem;
}

.notes span.background-notes {
     border: 4px solid black;
     display: inline-block;
}

/******************************************
/* LAYOUT
/*******************************************/

.section {
     margin-left:5%;
}

.section h3, h4, p{
     margin-left:5%;
}

/*************************
/* HEADER
/*************************/

.nav * {
     text-decoration: none;
     list-style-type: none;
     display: inline;
     margin: 1%;
}

.nav {
     background-color: rgba(248, 248, 248, 0.9);
     color: white;
     border-bottom: 2px solid black;
     text-align: center;
     padding-top: 2%;
     padding-bottom: 2%;
     position: fixed;
     top: 0;
     width: 100%;
}

.nav-list {
     padding: 0;
}

.nav-link, .main-nav-link {
     border: 0.5px solid grey;
     border-radius: 5px 5px;
     background-color: black;
     padding: 0.5% 1%;
}

.main-nav-link {
     margin: 6%;
}

.nav-link, .main-nav-link {
     cursor: pointer;
}

/*********
/* JS NAV
/*********/

.give-nav-odin-background-color {
     background-color: black;
}

.give-nav-tyr-background-color {
     background-color: orange;
}

.give-nav-mimir-background-color {
     background-color: rgb(0, 148, 86);
}

.give-nav-heimdall-background-color  {
     background-color: rgb(145, 6, 163);
}

.give-nav-color{
     color: black;
}

/*************************
/* MAIN
/*************************/
.main-title {
     margin-top: 10%;
     text-align: center;
}

.main-title h1 {
     margin-bottom: 0.5%;
}

.main-title .underline {
     border-bottom: 2px solid black;
     margin: 0 auto;
     width: 10%;
     margin-bottom: 2%;
}

.main-title .logo {
     width: 8%;
     margin-bottom: 2%;
}

.main-title .subtitle, h5 {
     margin:0
}

.main-title .subtitle {
     margin-bottom: 1%;
     margin-right: 0;
     border: none;
}

.main-title h5 {
     margin-bottom: 2%
}

.main-title aside {
     margin-bottom: 3%;
     font-style: italic;
}

.main-title a {
     color: white;
}

.main-title .background-green, .main-title .background-orange {
     border-radius: 5px;
     padding: 0.5% 5%;
     cursor: pointer;
}

.main-title .background-orange {
     padding: 0.5% 4%;
}

/*************************
/* FIRST SECTION
/*************************/

#introduction p, #introduction .description {
     margin: 2% 10%;
}

#introduction .p-img {
     margin: 0 10%;
     width: 80%;
     border-radius: 10px;
}

/*************************
/* SECOND SECTION
/*************************/

#functions h4, .arrow-h4 {
     margin-left: 10%;
}

#functions p, .arrow-p, #functions aside {
     margin-left: 15%;
}

#functions .p-2 {
     margin: auto 20%;
}

#functions aside {
     font-style: italic;
}

#functions .p-img {
     margin: 1% 20%;
     width: 30%;
     border-radius: 10px;
}

/*****************
/* FUNCT. MIMIR
/*****************/

.functions-mimir strong {
     color: rgb(226, 147, 0);
     font-style: italic;
}

.heimdall strong {
     color: black;
}

/*************************
/* FOOTER
/*************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media screen and (max-width: 1200px){
     .main-nav-link:first-child {
          display: block;
          margin-top: 0;
          margin-bottom: 1%;
     }

     .main-nav-link:last-child {
          padding: 0.5% 7.5%;
          margin: 0 auto;
     }

     .main-title {
          margin-top: 14%;
     }

}

@media screen and (max-width: 850px){
     
     .nav-link:first-child {
          display: block;
          margin: 0 auto;
          margin-bottom: 1%;
          width: 88%;
          text-align: center;
     }

     .main-title {
          margin-top: 24%;
     }

     #introduction p {
          margin: 4% 10%;
     }

     #functions aside {
          display: none;
     }
}

@media screen and (max-width: 670px){
     .nav * {
          display: none;
     }

     .main-nav-link {
          display: block;
          margin: 0;
          float: left;
          width: 50%;
          padding: 3%;
     }

     .main-nav-link:last-child{
          padding: 3%;
     }

     .main-nav-link:first-child{
          margin:0;
     }

     #introduction p {
          margin: 6% 10%;
     }

     #functions aside {
          display: none;
     }
}

nav a {
     display: inline-block !important;
     text-decoration: none;
     color: white;

}